backend-url: {{ sensu_agent.backend_urls | to_yaml }}
deregister: {{ sensu_agent.deregister }}
keepalive-interval: {{ sensu_agent.keepalive_interval }}
keepalive-warning-timeout: {{ sensu_agent.keepalive_warning_timeout }}
subscriptions: {{ sensu_agent.subscriptions | to_yaml }}
labels: {{ sensu_agent.labels | to_yaml }}
