[Unit]
Description=Prometheus Exporter for Redis
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart={{ install_path }}/{{ install_binary_name }} --web.listen-address {{ listen_address }} --redis.addr {{ redis_uri }}
User={{ service_user }}
Group={{ service_group }}

[Install]
WantedBy=multi-user.target
